
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.outer-col-1 {
    flex-basis: 200px;
    flex-shrink: 0;
}

.outer-col-2 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.inner-row {
    display: flex;
   flex-grow: 1;
}

.inner-col {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

article {
    flex-grow: 1;
    max-width:300px;

}

footer {
    flex-shrink: 0;

}

aside {
    flex-basis: 200px;
    flex-shrink: 0;
}